.priceDollor {
  margin: 10px;
  font-weight: 700;
}
.priceDollor-content {
  font-weight: bold;
}
.Cost_0 {
  margin-top:25px;
  height: 19px;
}
.Cost_1 {
  height: 95px;
}
.Cost_2 {
  height: 117px;
}
.Cost_3 {
  height: 73px;
}