.pdf-download-root-main body {
    margin: 0px !important;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .pdf-download-root-main .jsreport-page-wrapper {
    overflow: hidden;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 3mm;
    height: calc(100% - 6mm);
    width: calc(100% - 6mm);
    max-height: calc(100% - 6mm);
    max-width: calc(100% - 6mm);
    background-color: #f8f8f8;
    --border-color: #e7e7e7;
    --carrier-color: #152c73;
    --ciat-color: grey;
    justify-content: flex-start;
    align-content: center;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .header, .pdf-download-root-main .jsreport-page-wrapper .page .main, .pdf-download-root-main .jsreport-page-wrapper .page .footer {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px #dedede;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 1.7cm;
    max-height: 1.7cm;
    padding: 9px;
    margin-bottom: 6px;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .header .brand-logo {
    max-width: 2.5cm;
    max-height: 1.2cm;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .header .left-area, .pdf-download-root-main .jsreport-page-wrapper .page .header .report-title, .pdf-download-root-main .jsreport-page-wrapper .page .header .preparator {
    height: 100%;
    display: flex;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .header .left-area, .pdf-download-root-main .jsreport-page-wrapper .page .header .report-title {
    justify-content: center;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .header .left-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .header .report-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
    font-weight: 700;
    justify-content: flex-start;
    flex: 1;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .header .carrier {
    color: var(--carrier-color);
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .header .sub-infos {
    font-size: 11px;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .header .sub-infos .preparator-name {
    margin-right: 5px;
    font-weight: 600;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .header .info-wrapper {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    font-size: 11px;
    height: 100%;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .header .info-wrapper .info-title {
    font-weight: bold;
    margin-top: 5px;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .header .info-wrapper .project-name, .pdf-download-root-main .jsreport-page-wrapper .page .header .info-wrapper .tag-name {
    color: #131313;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .main-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .main-title.carrier .model, .pdf-download-root-main .jsreport-page-wrapper .page .main-title.carrier .description {
    color: var(--carrier-color);
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .main-title .model, .pdf-download-root-main .jsreport-page-wrapper .page .main-title .description {
    width: 100%;
    font-size: 14px;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .main-title .model {
    font-size: 20px;
    font-weight: bold;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .main-title .model span {
    font-size: 18px;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .main {
    display: flex;
    flex-direction: column;
    padding: 5mm;
    width: calc(100% - 10mm);
    max-width: calc(100% - 10mm);
    flex: 1;
    animation: turn 4s linear 1.75s infinite !important
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .footer {
    display: flex;
    flex-direction: row;
    min-height: 2cm;
    max-height: 2cm;
    padding-left: 10px;
    justify-content: space-evenly;
    margin-top: 6px;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .footer span {
    font-size: 10px;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .footer .left-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .footer .left-area .footnote {
    height: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .footer .left-area .footnote .footnote-image {
    max-height: 100%;
    margin-right: 5px;
    max-width: 20%;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .footer .left-area .footnote .footnote-description {
    font-size: 8px;
    max-width: calc(80% - 5px);
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .footer .info-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    font-size: 11px;
    height: 100%;
    margin-bottom: 6px;
    margin-right: 6px;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .footer .info-wrapper .info-title {
    font-weight: bold;
    margin-top: 5px;
  }
  .pdf-download-root-main .jsreport-page-wrapper .page .footer .info-wrapper .project-name, .pdf-download-root-main .jsreport-page-wrapper .page .footer .info-wrapper .tag-name {
    color: #131313;
  }