.TBWLAI-container {
    
    max-width: 300px;
    min-height: 30px;
}

.TBWLAI-InputContainer {
    height: 30px;
    width: 100%;
}

.TBWLAI-ImageContainer {
    width: 35px;
    height: 100%;
    float: left;
    background-color: #eeeeee;
    border: #cccccc solid 1px;
}

.TBWLAI-Image {
    width: 20px;
    margin: 5px;
}

.TBWLAI-input{
    border: #cccccc solid 1px;
    float: left;
    width: Calc(100% - 150px);
    height: 100%;
    margin: 0 0 0 -1px;
    padding: 5px 20px;
    font-size: 0.95rem;

}
.TBWLAI-input-label{
    border: #cccccc solid 1px;
    float: left;
    width: Calc(100% - 115px);
    height: 100%;
    margin: 0 0 0 -1px;
    padding: 5px 20px;
    font-size: 0.95rem;
}

.TBWLAI-input-full{
    border: #cccccc solid 1px;
    float: left;
    width: Calc(100%);
    height: 100%;
    margin: 0 0 0 -1px;
    padding: 5px 20px;

}

.TBWLAI-input:focus{
    outline: none;

}

.TBWLAI-input:invalid, .TBWLAI-input-label:invalid, .TBWLAI-input-full:invalid{
    border: #c00000 solid 1px;
    background-color: #ffe9e9;
    

}

.TBWLAI-label{
    width: 110px;
    height: 100%;
    line-height: 30px;
    text-align: center;
    float: left;
    background-color: #eeeeee;
    border-top: #cccccc solid 1px;
    border-right: #cccccc solid 1px;
    border-bottom: #cccccc solid 1px;
}

.TBWLAI-Select {
    width: 110px;
    height: 100%;
    line-height: 30px;
    text-align-last:center;
    float: left;
    background-color: #eeeeee;
    border-top: #cccccc solid 1px;
    border-right: #cccccc solid 1px;
    border-bottom: #cccccc solid 1px;
    border-left: hidden;
    cursor: pointer;
}

.TBWLAI-Select:focus {
    outline: none;
}

.TBWLAI-Select:disabled {
    cursor: default;
}

.TBWLAI-SelectOption {
    padding: 5px 10px;
}

.TBWLAI-footer {
    font-size: 0.9rem;
    margin-top: -5px;
    color: #aaaaaa;
}

.TBWLAI-CheckBox {
    margin: 9px 11px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}