.PanelSection {
    width: 100%;
    margin-bottom: 2px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}
.PanelSection .SubHeader {
    display: flex;
    width: 100%;
    height: 35px;
    background-color: #E5E5E5;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
}
.PanelSection .SubHeaderTitle {
    width: 96%;
    font-size: 1em;
    text-align: left;
    line-height: 35px;
    margin: 0 0 0 20px;
    color: #696969;
}
.PanelSection .caret {
    margin: 13px 7px;
    border-top: 5px solid #696969;
}
.PanelSection .caret-reversed {
    border-top: 5px solid transparent;
    border-bottom: 5px solid #696969;
    margin-top: 10px;
}

.PanelSection .SubContainer {
    border: 1px solid #e1e1e1;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}