.SRBG-Label-vertical {
    margin: 10px;
    font-size: 0.92rem;
    display: block;
}

.SRBG-Label-horizontal {
    margin: 10px;
    font-size: 14px;
    display: block;
    float: left;

}

.SRBG-radio {
    margin-right: 5px;
}