
    .customGrid .gridSearch {
        height: 2rem;
        border-radius: 3px;
    }

    .customGrid .root {
        width: 100%;
        height: auto;
    }

    .customGrid .paper {
        width: 100%;
        height: inherit;
        box-shadow: none;
    }

    .customGrid .visuallyHidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1;
        margin: -1;
        overflow: hidden;
        padding: 0;
        position: absolute;
        top: 20;
        width: 1;
    }

    .customGrid .tableWrapper {
        overflow-x: auto;
        max-height: calc(100% - 42px)
    }

    .customGrid .table {
        height: 100%;
    }

    .customGrid .MuiTableCell-head {
        font-size: 14px  !important;
        line-height: 1.3125rem !important;
        padding-bottom: 7px !important;
        padding-top: 11px !important;
        padding-right: 0px !important;
        padding-left: 10px !important;
        word-break: break-all;
        max-width: 100%;
        cursor: default;
    }


    .customGrid .MuiTableCell-root {
        border: 1px solid rgba(224, 224, 224, 1);
        min-width: 88px;
        word-break: break-word;
    }

    .customGrid .MuiTableSortLabel-root {
        width: 100%;
    }

    .customGrid .MuiTableSortLabel-icon {
        width: 28px !important;
        height: 28px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .customGrid .MuiTableCell-root:nth-child(1) {
        min-width: 40px;
    }

    .customGrid tbody tr {
        padding: 0px;
        height: 30px;
    }

    .customGrid td {
        padding: 0px 1px 0px 9px;
        word-break: break-all;
        max-width: 50%;
        cursor: default;
    }

    .customGrid .headerColumn {
        display: flex;
        flex-direction: column;
    }

    .customGrid .headerColumnSubTitle {
        color: #999 !important;
    }

    .customGrid tr:nth-child(even) {
        background-color: #f5f5f5;
    }

    .customGrid tr:nth-child(odd) {
        background-color: transparent;
    }

    .customGrid .footerContainer {
        height: 42px;
        display: flex;
        flex-direction: row;
        color: #656565;
        background-color: #f6f6f6;
        border-left: 1px solid rgba(224, 224, 224, 1);
        border-right: 1px solid rgba(224, 224, 224, 1);
    }

    .customGrid .footerSelect {
        width: 50px;
        margin: 0 0.5rem;
        height: 20px;
        background-color: transparent;
        color: black;
        font-weight: bold;
        border: none;
        outline: none;
    }

    .customGrid #CustomGridPagination li:first-child button::after {
        content: "Prev";
        margin-left: 16px;
        margin-right: 8px;
    }

    .customGrid #CustomGridPagination li:last-child button::before {
        content: "Next";
        margin-left: 8px;
        margin-right: 16px;
    }

    .customGrid .footerPagerContainer {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .customGrid .footerFirstContainer {
        width: 30%;
        display: flex;
    }

    .customGrid .footerItemContainer {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .customGrid .footerLastItemContainer {
        width: 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .customGrid .messageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        width: inherit;
        border-left: 1px solid rgba(224, 224, 224, 1);
        border-right: 1px solid rgba(224, 224, 224, 1);
    }

    .customGrid .messageContainerDefaultHeight {
        min-height: 300px;
    }

    .customGrid .tableWrapper .rowHighlight {
        background-color: rgba(25, 118, 210, 0.12) !important;
    }

    .customGrid .defaultCursor {
        cursor: default !important;
    }

    .customGrid .sortingIcon {
        margin-top: -12px
    }
