.js-report {
    width: 100%;
    height: 100%;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
.js-report .report-back {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10000;
    overflow-y: scroll;
}
.js-report .report-popup {
    width: 21cm;
    height: 29.7cm;
    background-color: #fff;
    z-index: 1400;
    margin: 70px auto;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}
.js-report .report-toolbar-container {
    width: 21cm;
    margin: auto;
}

.js-report .top-action-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    backdrop-filter: blur(3px);
    background-color: #363636ba;
    box-shadow: 0px 0px 7px #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}
.js-report .items-container {
    width: 90%;
    height: 100%;
    max-width: 38cm;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 1;
}

.js-report .title-container {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.js-report .top-actions-container {
    flex: 1;
    max-width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.js-report .action-icons {
    height: 38px !important;
    width: 38px !important;
}

.js-report .action-icons:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: all 0.1s ease-in-out;
}

.js-report .action-icons.disabled {
    opacity: 0.5 !important;
    cursor: default !important;
    transition: none !important;
    transform: none !important;
}

.js-report .page-index-container {
    color: white;
    display: flex;
    flex-wrap: wrap;
    height: 66%;
    justify-content: center;
    align-items: center;
    width: 60px;
}
.js-report .page-index-value {
    font-size: 20px;
}

.js-report .navigation-container {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.js-report .download-container {
    height: 100%;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 240px;
}
.js-report .download-icons-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.js-report .download-status-container {
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    min-height: 30px;
    width: 50%;
}

.js-report .download-status-container .loading-status-message {
    transition: all 1s ease-in-out;
}

.js-report .download-status-container .loading-status-message {
    color: #f5f5f5;
    font-size: 12px;
    max-width: 70%;
    text-align: center;
}

.js-report .page-title {
    color: white;
    font-size: 11px;
}

#pdf-download-root.js-report * {
    animation: none !important;
}

.js-report .fade-in {
    animation: fadeIn 0.3s;
}
