.formBuilderDefaultCursor {
    cursor: default;
}

.formBuilderPointerCursor {
    cursor: pointer !important;
}

.formBuilderActive {
    cursor: pointer !important;
    color: #152c73;
}

.formBuilderDisable {
    cursor: not-allowed;
}

.formBuilderNormal {
    cursor: default;
    color: #152c73;
}

.formBuilderInvalid {
    cursor: default;
    color: red;
}

.formBuilderOpacity {
    opacity: 0.4;
}

