.formBuilderDefaultCursor {
    cursor: default;
}

.formBuilderPointerCursor {
    cursor: pointer;
}

.formBuilderActive {
    cursor: pointer;
    color: #152C73;
}

.formBuilderDisable {
    cursor: not-allowed;
}

.formBuilderNormal {
    cursor: default;
    color: #152C73;
}

.formBuilderInvalid {
    cursor: default;
    color: red;
}

.formBuilderOpacity {
    opacity: 0.4;
    line-height: 1.2;
    font-size: 13px;
    letter-spacing: 0px;
}

