.SimpleCombobox-Container {
    height: 32px;
    border: #cccccc solid 1px;
    max-width: 290px;
    width: calc(100% - 1px);
    padding: 0 10px;
    cursor: pointer;

}

.SimpleCombobox-Container:disabled {
    cursor: default;

}

.AllowedValue {
    line-height: 30px;
    color: black;
    background-color: #FFFFFF;
    cursor: pointer;
}

.NotAllowedValue {
    color: #cc0000;
    cursor: pointer;
}


.SimpleCombobox-Invalid {
    border-color: #cc0000;
    background-color: #ffe9e9;
    color: #cc0000;
}

.SimpleCombobox-InvalidHidden {
    border-color: #cc0000;
    background-color: #ffe9e9;
    color: #ffe9e9;
}

.SimpleCombobox-Container:focus{
    outline: none;
}