.SimpleCombobox-Container {
    height: 32px;
    border: #cccccc solid 1px;
    max-width: 290px;
    width: calc(100% - 6px);
    padding: 0 10px;
    cursor: pointer;

}

.SimpleCombobox-Container:disabled {
    cursor: default;

}

.AllowedValue {
    color: black;
    cursor: pointer;
}

.NotAllowedValue {
    color: red;
    cursor: pointer;
}


.SimpleCombobox-Invalid {
    border-color: red;
}

.SimpleCombobox-Container:focus{
    outline: none;
}