.customLoad {
  z-index: 99999999 !important;
}
.customLoad.k-overlay {
  opacity: 0.6;
}
.customLoad .k-dialog {
  width: 100%;
  height: 100%;
  position: absolute;
  background: none;
}
.customLoad .k-dialog P {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}